.video:hover {
    opacity:0.7;
}

#custom-navbar {
    
    position: relative;
    width: 20rem;
    height: 100%;
    background-color: rgb(26, 26, 26);
    overflow: hidden;
    transition: 0.3s ease-in;
    color:white;
/*  //  height:630px;  */
}

#recentlyViewedVideos, #recentlyAddedVideos {
    display: flex;
    flex-flow: row wrap;
}

.custom-navbar-tabs {
    padding:10px;
    margin-top: 2rem;
    border-radius:2rem;
    transition: 0.5s ease-in;

}

#custom-navbar-section {
    height:100%;
    display:block;
    position:fixed;
   /* top:5.5rem;*/
   top:0;
}

.custom-navbar-text {
/*
    margin:0px auto;
    float:none;
*/
    display:block;
    padding-left:1rem;
}

.sidebar-text {
    margin-left:1rem;
    font-family: 'Rubik', sans-serif;
    font-weight:300;

}

.custom-nav-toggle {
    cursor:pointer;
}

.custom-navbar-tabs:hover {
  /*  background-color:grey;
    */cursor: pointer;
    border-radius:2rem;

   /* background: repeating-radial-gradient(#e5be00, transparent 100px);*/
   background: #2a2a2a;
   border:#4b3e00 1px solid;
   
   color:rgb(255, 251, 251);
}
/*
.custom-navbar-text:hover {
    background-color:grey;
    cursor:pointer;
}
*/

#resultsSection {
    display:none;
}

.video {
    margin:5px;
    cursor:pointer;
    background-repeat:no-repeat;
    /*width:180px;*/
    /*width:inherit;*/
    background-size:contain;

    /*height:100px;*/ display:flex; flex-direction: column;
    /*border: 1px solid #e1dddd; */
    padding: 1rem;


}

.videoSection {
    margin-left: 25rem;
    transition: 0.3s ease-in;
    
    /*margin-top:8rem; */
    margin-top:2rem; 

}

.videoList:hover{
    opacity: 0.5;
    border: blue grey;
    cursor:pointer;
}

.videoSubheading {
    font-size:15px;
}
#noresults {
    display:none;
    text-align:center;
}

#noresults-text {
    text-align: center;
}

.zoom-moz {
    -moz-transform: scale(0.90);
}

#pixlrFrame {
    margin:0px auto;
    /*margin-left:232px;*/
    margin-top:71px;
/*    width: 551px; */
    padding:0 !important;
    display:flex;
    align-items:center;
    justify-content: center;

    height:390px;
    width:65rem;
}

#searchInput { 
    border:2px solid black;
}

@media (min-width:0px) and (max-width:766px) {

    .navbar-form {
        padding: 10px 15px;
        /* margin-top: 8px; */
        /* margin-right: -15px; */
        /* margin-bottom: 8px; */
        /* margin-left: -15px; */
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%), 0 1px 0 rgb(255 255 255 / 10%);
        /* box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%), 0 1px 0 rgb(255 255 255 / 10%); */
    }

    .navbar-right {
        float:right;
        margin: 0;
    }

    #searchInput {
        display: block;
        padding:0.5rem;
        margin:0;
        border:2px black solid;
    }

    #pixlrFrame {
        margin-left:0;
        width: 100%;
    }
}
